<div class = <%= "blue-bg" if message.user == restaurant.user%>  id="message-<%= message.id %>">
  <% if Date.today ==  message.created_at.to_date %>
    <% date = "aujourd'hui" %>
  <% elsif Date.today == message.created_at.to_date + 1 %>
    <% date = "hier" %>
  <% else %>
    <% date = message.created_at.to_date.strftime('%d/%m/%Y') %>
  <% end %>

  <small>
    <strong><%= message.user.first_name %> <%= message.user.last_name %></strong>
    <i class="small-text"><%= "#{date}, à #{(message.created_at + 1.hours).strftime("%Hh%M")}" %></i>
  </small>
  <p><%= message.content %></p>
</div>
