<div data-controller="change-position" data-change-position-target="cards" >
  <% @restaurant.campaigns.order(created_at: :desc).select{ |campaign| campaign.active == true}.each do |campaign| %>
    <div class="card-campaign" data-controller="campaign-cancel" data-campaign-cancel-target="card" data-change-position-target="card" >
      <% if campaign.photo.attached? %>
        <%= cl_image_tag campaign.photo.key %>
      <% else %>
        <img src="https://www.shutterstock.com/image-photo/green-vegan-salad-leaves-mix-260nw-1519672577.jpg" />
      <% end %>
      <div class="card-campaign-infos">
        <div class="tilte-date">
          <h1> <%= campaign.description %> </h1>
          <p class="date-text">Dates : <%= campaign.start_date.to_date %> - <%= campaign.end_date.to_date %></p>
        </div>
        <ul>
          <li class="ambassadors">
            <h2>Récompense ambassadeur</h2>
            <p> <%= campaign.ambassador_reward %> pour <%= campaign.reward_threshold %> nouvelles recommandations obtenues</p>
          </li>
          <li class="customers-owner">
            <h2>Avantage nouveau client</h2>
            <p> <%= campaign.client_benefit %></p>
          </li>
        </ul>
        <div class="options nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">...</div>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" data-campaign-cancel-target="options" >
          <li style="list-style-type : none"><a class="dropdown-item fs-6" href="#">Voir Statistiques</a></li>
          <li style="list-style-type : none">
            <%= form_for campaign , html: { 'data-campaign-cancel-target': "camp", 'data-action': "click->campaign-cancel#cancel:prevent click->change-position#change:prevent" } do |f| %>
              <%= f.submit "Arrêter campagne", class: "dropdown-item fs-6"%>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
  <% @restaurant.campaigns.order(created_at: :desc).reject{ |campaign| campaign.active == true}.each do |campaign| %>
    <div class="card-campaign grey" data-controller="campaign-cancel" data-campaign-cancel-target="card" data-change-position-target="card" >
      <% if campaign.photo.attached? %>
        <%= cl_image_tag campaign.photo.key %>
      <% else %>
        <img src="https://www.shutterstock.com/image-photo/green-vegan-salad-leaves-mix-260nw-1519672577.jpg" />
      <% end %>
      <div class="card-campaign-infos">
        <div class="tilte-date">
          <h1> <%= campaign.description %> </h1>
          <p class="date-text">Dates : <%= campaign.start_date.to_date %> - <%= campaign.end_date.to_date %></p>
        </div>
        <ul>
          <li class="ambassadors">
            <h2>Récompense ambassadeur</h2>
            <p> <%= campaign.ambassador_reward %></p>
          </li>
          <li class="customers-owner">
            <h2>Avantage nouveau client</h2>
            <p> <%= campaign.client_benefit %></p>
          </li>
        </ul>
        <div class="options nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">...</div>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" data-campaign-cancel-target="options" >
          <li style="list-style-type : none"><a class="dropdown-item fs-6" href="#">Voir Statistiques</a></li>
          <li style="list-style-type : none">
            <%= form_for campaign , html: { 'data-campaign-cancel-target': "camp", 'data-action': "click->campaign-cancel#cancel:prevent click->change-position#change:prevent" } do |f| %>

            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
