<div  class= "card-container-ambassador">
  <% @restaurant.campaigns.order(created_at: :desc).each do |campaign| %>
    <% if campaign.campaigns_ambassadors.where(user: current_user).count > 0 %>
    <% camp = campaign.campaigns_ambassadors.where(user: current_user).first %>
      <div class="card-campaign-ambassador">
        <% if campaign.photo.attached? %>
          <%= cl_image_tag campaign.photo.key %>
        <% else %>
          <img src="https://www.shutterstock.com/image-photo/green-vegan-salad-leaves-mix-260nw-1519672577.jpg" />
        <% end %>
        <div class="card-campaign-infos">
          <div class="tilte-date">
            <h1><%= campaign.description %></h1>
          </div>
          <p class="date-text">Dates : <%= campaign.start_date.to_date %> - <%= campaign.end_date.to_date %></p>
          <ul style="margin: 0px">

            <div class="in-line-div">

            <li style="list-style-type : none" class="ambassadors margin-left-3">
            <h2>Avantage nouveau client</h2>
            <p>
              <%= campaign.ambassador_reward %>
            </p>
              <!-- condition à ajouter -->
              <button type="button" class="btn-none" data-bs-toggle="modal" data-bs-target="#client-modal-<%= camp.id  %>">
                <%= render "shared/sendcode" %>
              </button>
            </li>



            <li style="list-style-type : none" class="ambassadors box-with-margin-bottom">
            <h2>Récompense ambassadeur</h2>
            <p>
              <%= campaign.client_benefit %>
            </p>


          <!--  <a class="btn btn-flat card-campaign-user" href="#">join</a> -->
          <!-- condition à ajouter -->
              <% if camp.referrals_count >= campaign.reward_threshold %>
                  <%= render "shared/progress_full", camp: camp %>
              <% else %>
                <%= render "shared/progress", id: camp.id, threshold: campaign.reward_threshold, count: camp.referrals_count %>
              <% end %>
            </li>
            </div>
          </ul>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="client-modal-<%= camp.id  %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">QR Code promotion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <%= camp.client_code.html_safe %>

              </div>
              <h1 class="middle-text">Transmettez ce QR code à vos amis !</h1>
            </div>

          </div>
        </div>

        <div class="modal fade" id="ambassador-modal-<%= camp.id  %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Récompense débloquée !</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= camp.ambassador_code.html_safe %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <% @restaurant.campaigns.order(created_at: :desc).each do |campaign| %>
    <% if campaign.campaigns_ambassadors.where(user: current_user).count < 1 %>
      <div class="card-campaign-ambassador">
        <% if campaign.photo.attached? %>
          <%= cl_image_tag campaign.photo.key %>
        <% else %>
          <img src="https://www.shutterstock.com/image-photo/green-vegan-salad-leaves-mix-260nw-1519672577.jpg" />
        <% end %>
        <div class="card-campaign-infos">
          <h1><%= campaign.description %></h1>
          <p class="date-text">Dates : <%= campaign.start_date.to_date %> - <%= campaign.end_date.to_date %></p>
          <h2>Avantage nouveau client</h2>
          <p>
            <%= campaign.ambassador_reward %>
          </p>
          <h2>Récompense ambassadeur</h2>
          <p>
            <%= campaign.client_benefit %>
          </p>
          <div class="btn-container">
            <%= link_to "Rejoindre la campagne", campaign_campaigns_ambassadors_path(campaign), data: {turbo_method: :post}, class:"btn-flat-ambassador" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
