<div class="card-campaign<%=" grey" if grey%>" data-controller="campaign-cancel" data-campaign-cancel-target="card" data-change-position-target="card" >
  <% if campaign.photo.attached? %>
    <%= cl_image_tag campaign.photo.key %>
  <% else %>
    <img src="https://www.shutterstock.com/image-photo/green-vegan-salad-leaves-mix-260nw-1519672577.jpg" />
  <% end %>
  <div class="card-campaign-infos">
    <div>
      <div class="tilte-date">
        <h1> <%= campaign.description %> </h1>
      </div>
      <ul>
        <li class="ambassadors">
          <h2>Récompense ambassadeur</h2>
          <p> <%= campaign.ambassador_reward %> pour <%= campaign.reward_threshold %> nouvelles recommandations obtenues</p>
        </li>
        <li class="customers-owner">
          <h2>Avantage nouveau client</h2>
          <p> <%= campaign.client_benefit %></p>
        </li>
      </ul>
    </div>
    <div>
      <p class="date-text">Dates : <%= campaign.start_date.to_date %> - <%= campaign.end_date.to_date %></p>
      <div class="options nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">...</div>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" data-campaign-cancel-target="options" >
        <li style="list-style-type : none"><%= link_to "Statistiques", restaurant_stats_path(campaign.restaurant), class: "dropdown-item fs-6"%></li>
        <li style="list-style-type : none">
          <%= form_for campaign , html: { 'data-campaign-cancel-target': "camp", 'data-action': "click->campaign-cancel#cancel:prevent click->change-position#change:prevent" } do |f| %>
            <%= f.submit "Arrêter campagne", class: "dropdown-item fs-6"%>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
