
<% @restaurant.campaigns.each do |campaign| %>
  <div class="card-campaign">
    <% if campaign.photo.attached? %>
      <%= cl_image_tag campaign.photo.key %>
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <% end %>
    <div class="card-campaign-infos">
      <div class="tilte-date">
        <h1>Campagne 1</h1>
        <p class="date-text">Dates : <%= campaign.start_date.to_date %> - <%= campaign.end_date.to_date %></p>
      </div>
      <ul>
        <li class="ambassadors">
        <h2>Ambassadors</h2>
        <p>
          <%= campaign.client_benefit %>
        </p>
        </li>
        <li class="ambassadors">
        <h2>New Customers</h2>
        <p>
          <%= campaign.ambassador_reward %>
        </p>
          <!-- condition à ajouter -->
          <button type="button" class="btn-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <%= render "shared/sendcode" %>
          </button>
        </li>
      <!-- condition à ajouter -->
      <!--  <a class="btn btn-flat card-campaign-user" href="#">join</a> -->
      <!-- condition à ajouter -->
        <li class="customers">
          <h2>Progression récompense ambassadeur</h2>
          <% if campaign.campaigns_ambassador_ids.count >= campaign.reward_threshold %>
            <%= render "shared/progress_full" %>
          <% else %>
            <%= render "shared/progress", threshold: campaign.reward_threshold, count: campaign.campaigns_ambassador_ids.count %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">QR Code promotion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= image_tag "qrcode", class: "qr-code-img" %>
      </div>
    </div>
  </div>
</div>
