<div class="left-bar">
  <ul>
    <li class="left-bar-links">
      <i class="fa-sharp fa-solid fa-bullseye leftbar-icon"></i><%= link_to "Campagnes" %>
    </li>
    <li class="left-bar-links">
      <i class="fa-solid fa-signal leftbar-icon"></i><%= link_to "Statistiques"%>
    </li>
    <li class="left-bar-links">
      <i class="fa-solid fa-comment leftbar-icon"></i><%= link_to "Chat" %>
    </li>
    <li class="left-bar-links">
      <i class="fa-regular fa-calendar leftbar-icon"></i><%= link_to "Evénements" %>
    </li>
    <li class="left-bar-links">
      <i class="fa-solid fa-people-arrows leftbar-icon"></i><%= link_to "Ambassadeurs" %>
    </li>
    <li class="left-bar-links">
      <i class="fa-solid fa-house-circle-check leftbar-icon"></i><%= link_to "Ma Page" %>
    </li>
  </ul>
</div>
