<div class="card-new-event">
  <h1><strong>Créer une nouvelle campagne de recommandation</strong></h1>
  <%= simple_form_for [restaurant, campaign],
                      html: { class: 'main-card-form', data: {controller:'flatpickr'}
                      } do |f| %>
    <h2>Titre de la campagne</h2>
    <%= f.input :description, style:"width:100%", placeholder: "Ex: Promotion du nouveau produit ...", label: false %>
    <h2>Avantage nouveau client</h2>
    <%= f.input :client_benefit, style:"width:100%", placeholder: "-X% sur nouveau produit ...", label: false %>
    <div class="duo-grid">
      <div class="duo-grid-element" >
        <h2>Récompense ambassadeur</h2>
        <%= f.input :ambassador_reward, placeholder: "-X% sur nouveau produit ...", label: false %>
      </div>
      <div class="duo-grid-element" >
        <h2>Débloquée pour ... nouveaux clients</h2>
        <%= f.input :reward_threshold, placeholder: "XX nouveaux clients", label: false %>
      </div>
    </div>
    <div class="duo-grid">
      <div class="duo-grid-element" >
        <h2>Date de début</h2>
        <%= f.input :start_date,
                  as: :string,
                  label: false,
                  input_html: {
                  class: "main-card-input",
                  data: {
                  flatpickr_target: 'startDateInput',
                  action: "flatpickr#start"
      } } %>
      </div>
      <div class="duo-grid-element" >
        <h2>Date de fin</h2>
        <%= f.input :end_date,
                  label: false,
                  as: :string,
                  input_html: {
                  class: "main-card-input",
                  data: {
                  flatpickr_target: 'endDateInput',
                  id: 'haha'
                  }
      } %>
      </div>
    </div>
    <div data-controller="image-input">
      <h2>Photo</h2>
      <div class="photo" data-action="click->image-input#addImage">
        <div class="text-sticky-image d-none" data-image-input-target="message">Votre image a bien été inséréee</div>
        <div class="plus">+</div>
      </div>
      <%= f.input :photo, as: :file, label: false , input_html: { class:'d-none', data: {image_input_target: "input", action: "change->image-input#inputChange"}} %>
    </div>
    <%= f.submit "Créer une nouvelle campagne", class:"card-event-user text-white btn bg-dark mt-2 border-radius-1 w-100" %>
  <% end %>
</div>
