<div class="main-content-with-padding">
  <div class="nav nav-tabs border-0 row mx-0" id="myTab" role="tablist">
    <div class="nav-item box-stats first-box" role="presentation">
      <div class="active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
        <i class="fa-solid fa-circle circle-icon"></i>
        <div class="text-inside">
          <div class="title-box-stats">Ambassadeurs</div>
        </div>
      </div>
    </div>
    <div class="nav-item box-stats" role="presentation">
      <div class="" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
        <i class="fa-solid fa-circle circle-icon"></i>
        <div class="text-inside">
          <div class="title-box-stats">Nouveaux clients</div>
        </div>
      </div>
    </div>
    <div class="box-stats transparent-div"></div>
    <div class="box-stats transparent-div last-box"></div>
  </div>


  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row mx-0 w-100 justify-content-between tab-content-with-margin-bottom">
        <div class= "box-stats-2 first-box">
          <div class="text-box-stats"><span class="stats-number"><%=  @number_of_ambassadors %></span><br> ambassadeurs</div>
        </div>
        <div class= "box-stats-2">
          <div class="text-box-stats"><span class="stats-number">+ <%= @number_of_new_ambassadors_over_the_last_30_days %></span><br>vs mois précédent</div>
        </div>
        <div class= "box-stats-2">
          <div class="text-box-stats"><span class="stats-number"><%= @percentage_active %></span><br> actifs dans les campagnes</div>
        </div>
        <div class= "box-stats-2 last-box transparent_box">
          <div class="text-box-stats"><span class="stats-number"></span><br></div>
        </div>
      </div>
      <div class="chart-card">
        <h5><strong>Ambassadeurs</strong></h5>
        <div class="chart-card-container">
          <div class="chart">
            <%= area_chart  @ambassadors.group_by_month(:created_at).count, id: "chart-stats", colors: ["#1C3879", "#666"] %>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row mx-0 w-100 justify-content-between tab-content-with-margin-bottom">
        <div class= "box-stats-2 first-box">
          <div class="text-box-stats"><span class="stats-number"><%= @number_of_referrals %></span><br> recommandations</div>
        </div>
        <div class= "box-stats-2">
          <div class="text-box-stats"><span class="stats-number">+ <%= @number_of_referrals %></span><br>vs mois précédent</div>
        </div>
        <div class= "box-stats-2">
          <div class="text-box-stats"><span class="stats-number"><%= @number_of_rewards_used %> </span><br> récompenses distribuées aux ambassadeurs</div>
        </div>
        <div class= "box-stats-2 last-box transparent_box">
          <div class="text-box-stats"><span class="stats-number"></span><br></div>
        </div>
      </div>
      <div class="chart-card">
        <h5><strong>Recommandations</strong></h5>
        <div class="chart-card-container">
          <div class="chart">
            <%= area_chart  @ambassadors.group_by_month(:created_at).count, id: "chart-stats-2", colors: ["#1C3879", "#666"] %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
