<div class="restaurant-card-list">
    <% restaurant1 = @restaurants.first %>
    <%= link_to restaurant_path(restaurant1) do %>
      <div class="restaurant-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&w=600')">
        <%= restaurant1.name %>
      </div>
    <% end %>
     <% restaurant2 = @restaurants.second %>
    <%= link_to restaurant_path(restaurant2) do %>
      <div class="restaurant-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://media.istockphoto.com/id/1086140442/fr/photo/gros-plan-de-c%C3%B4tes-de-porc-grill%C3%A9-avec-sauce-barbecue-et-caram%C3%A9lis%C3%A9s-au-miel-snack-savoureux.jpg?s=612x612&w=0&k=20&c=leS3DOklpjP9w6lAzmXM04eQlfviBJQl8sTizyqTgtY=')">
        <%= restaurant2.name %>
      </div>
    <% end %>
     <% restaurant3 = @restaurants.third %>
    <%= link_to restaurant_path(restaurant3) do %>
      <div class="restaurant-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGhlYWx0aHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60')">
        <%= restaurant3.name %>
      </div>
    <% end %>
</div>
