<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('frfavicon.png') %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class = "page-<%= controller_name %>-<%= action_name %>">
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" %>
    <div class="main-container">
      <%= render "shared/leftbar" %>
      <div class="main-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
