<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('frfavicon.png') %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
    </style>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class = "page-<%= controller_name %>-<%= action_name %>">
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" %>
    <div class="main-container">
      <% if params[:id] || params[:restaurant_id] %>
        <%= render "shared/leftbar" %>
      <% end %>
      <div class="main-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
